<table style="margin-bottom: 0" class="table invoice-total" role="grid" aria-hidden="True">
    <caption>&nbsp;</caption>
    <tbody role="rowgroup">
        <tr role="row">
            <td role="gridcell"><strong>Итого:</strong></td>
            <td role="gridcell" data-bind="text: $root.CustomData.Count()"></td>
        </tr>
    </tbody>
</table>