@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="mobile-web-app-capable" content="yes">
    <title>Nasladdin</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <div id="react-root"></div>
    <script src="~/Urls/GenerateUrlsJsFile"></script>
    <script src="~/js/CatalogPage/lib/react.min.js"></script>
    <script src="~/js/CatalogPage/lib/react-dom.min.js"></script>
    <script src="~/js/CatalogPage/lib/react-bootstrap.min.js"></script>
    <link href="~/js/CatalogPage/bundle.css" rel="stylesheet" />
    <script src="~/js/CatalogPage/bundle.js"></script>
</body>
</html>

