<a class="btn-link" data-bind="click: $root.monitor">
    <span data-bind="if: $data.Status() == 'Disabled'" class="text-danger"><em class="fa fa-play fa-rotate-90"></em>&nbsp;Отключен</span>
    <span data-bind="if: $data.Status() == 'Enabled'" class="text-navy"><em class="fa fa-play fa-rotate-270"></em>&nbsp;Подключен</span>
</a>
