<div class="m-b-sm">
    <div class="input-group input-group-sm">
        <span class="input-group-addon"><em class="fa fa-filter"></em></span>
        <input class="form-control" name="Filter" placeholder="Фильтр" />
        <span class="input-group-btn">
            <button type="submit" class="btn btn-default btn-sm">Поиск</button>
        </span>
    </div>
</div>
