@using NasladdinPlace.UI.ViewModels.Shared.ModalWindow;
@model ModalWindow

<div aria-hidden="true" role="dialog" tabindex="-1" id="@Model.Id" class="modal fade">
    <div class="modal-dialog @Model.ModalSizeCssClass">
        <div class="modal-content">
        </div>
    </div>
</div>


